{# extends 'base.html.twig' #}
{% extends "ResumeBundle:Default:panel-layout.html.twig" %}
{% block maincontent %}
    <h1>Trabajos</h1>
    <hr>
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>#</th>
                <th>Nombre</th>
                <th>Inicio</th>
                <th>Termino</th>
                <th>Establecimiento</th>
                <th>Opciones</th>
            </tr>
        </thead>
        <tbody>
        {% for job in jobs %}
            <tr>
                <td><a href="{{ path('panel_job_show', { 'id': job.id }) }}">{{ job.id }}</a></td>
                <td>{{ job.name }}</td>
                <td>{% if job.startjob %}{{ job.startjob|date('Y-m-d') }}{% endif %}</td>
                <td>{% if job.endjob %}{{ job.endjob|date('Y-m-d') }}{% endif %}</td>
                <td>{{ job.workplace }}</td>
                <td class="btn-group-wrap">
                  <div class="btn-group button-in-table" role="group" aria-label="...">
                    <a class="btn btn-default" href="{{ path('panel_job_show', { 'id': job.id }) }}">Ver</a>
                    <a class="btn btn-default" href="{{ path('panel_job_edit', { 'id': job.id }) }}">Editar</a>
                  </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a class="btn btn-default" href="{{ path('panel_job_new') }}">Nuevo</a>
        </li>
    </ul>
{% endblock %}
