{% extends "ResumeBundle:Default:panel-backend.html.twig" %}

{% block csspage %}
<link href="{{asset('css/bootstrap-datepicker3.css')}}" rel="stylesheet" type="text/css">
{% endblock%}

{% block maincontent %}
<div class="row">
    <div class="col-lg-12">
    <h1 class="page-header">Trabajos</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
  <div class="col-lg-6">
  {{ form_start(form) }}
      <div class="panel panel-default">
        <div class="panel-heading">Nuevo Trabajo</div>
        <div class="panel-body">
            <div class="form-group">
            <label>Nombre</label>
            <p class="text-danger">{{ form_errors(form.name) }}</p>
              {{ form_widget(form.name,{ 'attr': {'class': 'form-control'} }) }}
            </div>
            <div class="form-group">
            <label>Detalle/Descripción</label>
              <p class="text-danger">{{ form_errors(form.detail) }}</p>
              {{ form_widget(form.detail,{ 'attr': {'class': 'form-control'} }) }}
              </div>
              <div class="form-group">
              <label>Fecha Inicio</label>
              <p class="text-danger">{{ form_errors(form.startjob) }}</p>
              {{ form_widget(form.startjob,{ 'attr': {'class': 'form-control'} }) }}
              </div>
              <div class="form-group">
              <label>Fecha Termino</label>
              <p class="text-danger">{{ form_errors(form.endjob) }}</p>
              {{ form_widget(form.endjob,{ 'attr': {'class': 'form-control'} }) }}
              </div>
              <div class="form-group">
              <label>Horas semanales de la Asignatura</label>
              <p class="text-danger">{{ form_errors(form.hours) }}</p>
              {{ form_widget(form.hours,{ 'attr': {'class': 'form-control'} }) }}
              </div>
              <div class="form-group">
              <label>Especialidad</label>
              <p class="text-danger">{{ form_errors(form.profession) }}</p>
              {{ form_widget(form.profession,{ 'attr': {'class': 'form-control'} }) }}
              </div>
              <div class="form-group">
              <label>Establecimiento</label>
              <p class="text-danger">{{ form_errors(form.workplace) }}</p>
              {{ form_widget(form.workplace,{ 'attr': {'class': 'form-control'} }) }}
              </div>

          </div>
          <div class="panel-footer">
          <input class="btn btn-default" type="submit" value="Agregar" />
          <a class="btn btn-default" href="{{ path('panel_job_index') }}">Volver</a>
          </div>
          </div>
          {{ form_end(form) }}
    </div>
    <div class="col-lg-6">
    <!-- INFORMATION -->
      <div class="panel panel-info">
                <div class="panel-heading">
                    Información
                </div>
                <div class="panel-body">
                    <p>{{infotext}}</p>
                </div>
                <div class="panel-footer">
                    <a class="btn btn-default" href="{{ path('panel_job_index') }}">Volver</a>
                </div>
      </div>
    </div>

  </div>
{% endblock %}


{% block scriptpage %}
<script src="{{asset('js/bootstrap-datepicker.js')}}"></script>
<script src="{{asset('js/bootstrap-datepicker.es.min.js')}}"></script>
<script type="text/javascript">
$(function () {
  $('#job_startjob').datepicker({
    language: 'es'
  });
  $('#job_endjob').datepicker({
    language: 'es'
  });
});
</script>
</script>
{% endblock%}
