{% extends "ResumeBundle:Default:panel-backend.html.twig" %}
{% block maincontent %}
<div class="row">
    <div class="col-lg-12">
    <h1 class="page-header">Trabajos</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
  <div class="col-lg-12">
      <div class="panel panel-default">
        <div class="panel-heading">Información del Trabajo</div>
        <div class="panel-body">

        {% for flash_message in app.session.flashBag.get('notice') %}
        <div class="row">
            <div class="col-lg-12">
            <div class="alert alert-success alert-dismissable">
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                {{ flash_message }}
                            </div>

            </div>
        </div>
        {% endfor %}


        {% for flash_message in app.session.flashBag.get('error') %}
        <div class="row">
            <div class="col-lg-12">
            <div class="alert alert-danger alert-dismissable">
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                {{ flash_message }}
                            </div>

            </div>
        </div>
        {% endfor %}

        <div class="row">
          <div class="col-lg-6">

          <table class="table table-bordered table-hover">
          <tbody>
          <tr>
          <th>Nombre</th>
          <th><h4>{{ job.name }}</h4></th>
          </tr>
          <tr>
            <th>
            {{ form_start(delete_form) }}
            <input class="btn btn-danger" type="submit" value="Eliminar">
            {{ form_end(delete_form) }}
            </th>
            <th>
            {% if job.assigments|length == 0 %}
              <a href="{{path('panel_job_assigment', { 'id': job.id }) }}" class="btn btn-success" >Asignar Trabajo</a>
            {% else %}
              {% for asig in job.assigments %}
                <a href="{{path('panel_assigment_show', { 'id': asig.id }) }}" class="btn btn-info" >Ver Asignación</a>
              {% endfor %}
            {% endif %}
            </th>
          </tr>

          {% if job.profession is not null %}
          <tr>
          <th>Tipo de Postulante</th>
          <td>{{ job.profession.usertype }}</td>
          </tr>
            <tr>
            <th>Título/Profesión</th>
            <td>{{ job.profession }}</td>
            </tr>
          {% else %}
            <tr>
              <th>Tipo de Postulante</th>
              <td>Enseñanza media Completa</td>
            </tr>
          {% endif %}
          <tr>
          <th>Detalle/Descripción</th>
          <td>{{ job.detail }}</td>
          </tr>
          <tr>
          <th>Fecha de Inicio</th>
          <td>{% if job.startjob %}{{ job.startjob|date('Y-m-d') }}{% endif %}</td>
          </tr>
          <tr>
          <th>Fecha de Termino</th>
          <td>{% if job.endjob %}{{ job.endjob|date('Y-m-d') }}{% endif %}</td>
          </tr>
          <tr>
          <th>Horas semanales</th>
          <td>{{ job.hours }} Hrs</td>
          </tr>
          <tr>
          <th>Periodo de Trabajo</th>
          <td>{{ days }} Días</td>
          </tr>
          <tr>
          <th colspan="2">
          <div class="btn-group button-in-table" role="group" aria-label="...">
          <a class="btn btn-default" href="{{ path('panel_job_index') }}">Volver</a>
          <a class="btn btn-default" href="{{ path('panel_job_edit', { 'id': job.id }) }}">Editar</a>
          </div>
          </th>
          </tr>
          </tbody>
          </table>
          </div>
    <div class="col-lg-6">
    <!-- DATA DISABLED FOR EDITION -->
    <table class="table table-bordered table-hover">
      <thead>
      <tr>
        <td colspan="2">Gestión del Trabajo</td>
      </tr>
      </thea>
      <tbody>
      <tr>
        <th>Creado por</th>
        <td>{{ job.username }} el <b>{% if job.created %}{{ job.created|date('Y-m-d') }}{% endif %}</b></td>
      </tr>
      <tr>
        <th>Ultima edición por</th>
        <td>{{ job.lastusername }} el <b>{% if job.lastupdate %}{{ job.lastupdate|date('Y-m-d') }}{% endif %}</b></td>
      </tr>
      <tr>
        <th>Versión del Trabajo</th>
        <td><b>{{ job.version }}</b></td>
      </tr>
      </tbody>
    </table>

    </div>

      </div>
    </div>
    <!-- /.panel panel-default

    </div>
    </div>
    <!-- /.col-lg-12 /.row -->



{% endblock %}
