{% extends "ResumeBundle:Default:panel-postulant.html.twig" %}

{% block csspage %}
<link href="{{asset('css/bootstrap-datepicker3.css')}}" rel="stylesheet" type="text/css">
{% endblock%}

{% block maincontent %}
<div class="row">
    <div class="col-lg-12">
    <h1 class="page-header"> Mi Curriculum Vitae</h1>
    </div>
</div>

{% for flash_message in app.session.flashBag.get('error') %}
<div class="row">
    <div class="col-lg-12">
      <div class="alert alert-danger alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        {{flash_message}}.
      </div>
    </div>
</div>
{% endfor %}
{% for flash_message in app.session.flashBag.get('success') %}
<div class="row">
    <div class="col-lg-12">
      <div class="alert alert-success alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        {{flash_message}}.
      </div>
    </div>
</div>
{% endfor %}

<div class="row">
    <div class="col-lg-12">
      <h3 class="page-header">Información Personal</h3>
      <div class="text-right">
        <a href="{{path('resume_profile_show')}}" class="btn btn-info">Ver perfil</a>
      </div>
      <div class="caption-full">
      <!-- TABLE PROFILE -->
      <table class="table table-striped table-hover">
        <tr>
          <th>Rut</th>
          <td>{{user.rut}}</td>
        </tr>
        <tr>
          <th>Nombre</th>
          <td>{{user.firstname}} {{user.middlename}} {{user.lastname}} {{user.momlastname}}</td>
        </tr>
        <tr>
          <th>Genero</th>
          <td>{{user.gender}}</td>
        </tr>
        <tr>
          <th>Fecha de nacimiento</th>
          <td>{{user.birthdate|date("d-M-Y")}}</td>
        </tr>
        <tr>
          <th colspan="2">Información de Contacto</th>
        </tr>
        <tr>
          <th>Correo</th>
          <td>{{user.email}}</td>
        </tr>
        <tr>
          <th>Teléfono</th>
          <td>{{user.phone}}</td>
        </tr>
        <tr>
          <th>Celular</th>
          <td>{{user.celphone}}</td>
        </tr>
      </table>
      </div>
      <!-- TABLEEND -->
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
      <h3 class="page-header">Experiencia</h3>
      <div class="text-right">
        <button class="btn btn-success " data-toggle="modal" data-target="#ModalExp">Agregar</button>
      </div>
      <!-- MODAL FOR NEW EXP-->

      <div class="modal fade" id="ModalExp" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
                                {{ form_start(new_form_exp)}}
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                            <h4 class="modal-title" id="myModalLabel">Nueva Experiencia</h4>
                                        </div>
                                        <div class="modal-body">
                                            <!-- FORM -->
                                            {{ form_start(new_form_exp)}}
                                            <div class="form-group">
                                            <label>{{form_label(new_form_exp.detail)}}</label>
                                            {{ form_widget(new_form_exp.detail,{ 'attr': {'class': 'form-control'} }) }}
                                            </div>
                                            <div class="form-group">
                                            <label>{{form_label(new_form_exp.workplace)}}</label>
                                            {{ form_widget(new_form_exp.workplace,{ 'attr': {'class': 'form-control'} }) }}
                                            </div>
                                            <div class="form-group">
                                            <label>{{form_label(new_form_exp.other)}}</label>
                                            {{ form_widget(new_form_exp.other,{ 'attr': {'class': 'form-control'} }) }}
                                            </div>
                                            <div class="form-group">
                                            <label>{{form_label(new_form_exp.startdate)}}</label>
                                            {{ form_widget(new_form_exp.startdate) }}
                                            </div>
                                            <div class="form-group">
                                            <label>{{form_label(new_form_exp.enddate)}}</label>
                                            {{ form_widget(new_form_exp.enddate) }}
                                            </div>

                                            {{ form_end(new_form_exp)}}
                                            <!-- FORMEND -->
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                                            <button type="submit" class="btn btn-primary">Guardar</button>
                                        </div>
                                    </div>
                                    <!-- /.modal-content -->
                                </div>
                                {{ form_end(new_form_exp)}}
                                <!-- /.modal-dialog -->
      </div>


      <!-- ENDMODAL -->
      <div class="caption-full">
      <!-- CONTENT -->
      {% if exps|length > 0 %}
        <table class="table table-stripped table-hover">
        <thead>
          <tr>
            <th>Detalle</th>
            <th>Periodo</th>
            <th>Establecimiento</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
        {% for exp in exps %}
          <tr>
            <td>{{exp.detail}}</td>
            <td>{{exp.startdate|date('m-Y')}} -
            {% if exp.enddate is not empty %}
              {{exp.enddate|date('m-Y')}}
            {% else %}
              Actualidad
            {% endif %}</td>
            <td>
            {% if exp.workplace is empty %}
              {{exp.other}}
            {% else %}
              {{exp.workplace}}
            {% endif %}
            </td>
            <td>
            <div class="text-right">
              <a class="btn btn-default btn-sm confirmation" href="{{path('resume_resume_deteleexperience', { 'id': exp.id ,'iduser':exp.user})}}"><span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span> Eliminar</a>
            </div>
            </td>
          </tr>
        {% endfor %}
        </tbody>
        </table>
      {% endif %}
      <!-- /CONTENT -->
      </div>
    </div>
</div>
{% endblock %}

{% block scriptpage %}
<script src="{{asset('js/bootstrap-datepicker.js')}}"></script>
<script src="{{asset('js/bootstrap-datepicker.es.min.js')}}"></script>
<script type="text/javascript">
$(function () {
  $('#form_startdate').datepicker({
    isRTL: false,
    autoclose:true,
    language: 'es',
    format: "mm-yyyy",
    viewMode: "months",
    minViewMode: "months",
    endDate: "+0d"
  });
  $('#form_enddate').datepicker({
    isRTL: false,
    autoclose:true,
    language: 'es',
    format: "mm-yyyy",
    viewMode: "months",
    minViewMode: "months",
    endDate: "+0d"
  });
});
</script>
<script type="text/javascript">
    $('.confirmation').on('click', function () {
        return confirm('¿Esta seguro que desea eliminar?');
    });
</script>
{% endblock%}
