{# extends 'base.html.twig' #}
{% extends "ResumeBundle:Default:panel-backend.html.twig" %}
{% block maincontent %}

<div class="row">
    <div class="col-lg-12">
    <h1 class="page-header">Asistentes de Educación</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
  <div class="col-lg-12">
      <div class="panel panel-default">
        <div class="panel-heading">Lista de <b>Asistentes de Educación</b> registrados en la Plataforma.
        </div>
        <div class="panel-body">
        {% if success is defined and success is not empty %}
        <div class="row">
            <div class="col-lg-12">
                  <div class="alert alert-success alert-dismissable">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        {{success}}.
                  </div>
            </div>
        </div>
        {% endif %}

        {% if message is not empty%}
        {% if message.username is defined or message.useremail is defined %}
        <div class="row">
            <div class="col-lg-12">
              <div class="alert alert-danger alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                Se presentaron los siguientes problemas durante la creación del Asistente
                <ul>
                {% if message.username is defined %}<li>{{message.username}}</li>{% endif %}
                {% if message.useremail is defined %}<li>{{message.useremail}}</li>{% endif %}
                </ul>
              </div>
            </div>
        </div>
        {% endif %}
        {% endif %}


        <!-- FORM  NEW assistant -->

        <!-- /FORM -->
            {% include "ResumeBundle:Utils:search-table-searchbar.html.twig" %}
            <table class="table table-bordered table-hover results">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Nombre</th>
                        <th>Título</th>
                        <th>Correo</th>
                        <th>Ultimo acceso</th>
                        <th>Opciones</th>
                    </tr>
                    {% set columns = 6 %}
                    {% include "ResumeBundle:Utils:search-table-trresult.html.twig" %}
                </thead>
                <tbody>
                {% set count = 1 %}
                {% for assistant in assistants %}
                    <tr>
                        <td><a href="{{ path('panel_assistant_show', { 'id': assistant.id }) }}">{{ count }}</a></td>
                        <td>
                        {%if assistant.firstname is empty %}
                          <span class="label label-danger">El Asistente de Educación aun no Completa su perfil</span>
                        {% else %}
                          {{ assistant.firstname}} {{ assistant.middlename}} {{ assistant.lastname}} {{ assistant.momlastname}}
                        {% endif %}
                        </td>
                        <td>
                        {%if assistant.title is empty %}
                          <span class="label label-danger">El Asistente de Educación aun no Completa su CV</span>
                        {% else %}
                        {{ assistant.title }}
                        {% endif %}
                        </td>
                        <td>{{ assistant.email }}</td>
                        <td>{{ assistant.lastlogin|date('Y-m-d H:i:s')}}</td>
                        <td class="btn-group-wrap">
                          <div class="btn-group button-in-table" role="group" aria-label="...">
                            <a class="btn btn-default" href="{{ path('panel_assistant_show', { 'id': assistant.id }) }}">Ver</a>
                          </div>
                        </td>
                    </tr>
                    {% set count = count + 1 %}
                {% endfor %}
                </tbody>
            </table>
        </div>
      </div>
   </div>
</div>
{% endblock %}

{% block scriptpage %}
<script src="{{asset('js/search-bar-tables.js')}}"></script>
{% endblock %}
