{% extends "ResumeBundle:Default:panel-backend.html.twig" %}
{% block maincontent %}
{{ include ('information/title.html.twig') }}

<!-- /.row -->
<div class="row">
  <div class="col-lg-12">
      <div class="panel panel-default">
        <div class="panel-heading">Lista de <b>Texto de Información</b> incluidos en la plataforma</b>
        </div>
        <div class="panel-body">

        <!-- TABLE -->
        <table class="table table-striped results">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Shortname</th>
                    <th>Title</th>
                    <th>Responsable</th>
                    <th>Lastmodification</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for information in information %}
                <tr>
                    <td><a href="{{ path('panel_information_show', { 'id': information.id }) }}">{{ information.id }}</a></td>
                    <td>{{ information.shortname }}</td>
                    <td>{{ information.title }}</td>
                    <td>{{ information.responsable }}</td>
                    <td>{% if information.lastmodification %}{{ information.lastmodification|date('Y-m-d') }}{% endif %}</td>
                    <td>
                        <a class="btn btn-default" href="{{ path('panel_information_show', { 'id': information.id }) }}">Ver</a>
                        <a class="btn btn-default" href="{{ path('panel_information_edit', { 'id': information.id }) }}">Editar</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <!-- TABLE -->


        </div>
      </div>
  </div>
</div>



{% endblock %}
