<html>
<head>
<title>Hola - Hi - Welcome</title>
<meta name="description" content="Landing page for the platform">
<meta name="mmoscosod" content="landing page">
<link rel="icon" href="{{asset('images/favico.png')}}">
<link href="{{asset('css/bootstrap.min.css')}}" rel="stylesheet">
</head>
<body>
  <div class="row">
    <div class="col-md-4"></div>
      <div class="col-md-4">
        <h1>Hola</h1>
        <h2>Esta página debe ser reemplazada por la de Acceso a la plataforma personalizada para cada Cliente.</h2>
        <p> Lo fundamental es incluir uno de los siguiente enlaces que brinda el acceso a la sección de registro a Autenticación</p>
        <ul>
          <li><a class="btn btn-default" href="{{path('fos_user_security_login')}}">Ingresar</a>
          <hr></li>
          <li><a class="btn btn-info" href="{{path('fos_user_security_login')}}">Ingresa aquí</a><hr></li>
          <li><a class="btn btn-success" href="{{path('fos_user_security_login')}}">Ingresar</a><hr></li>
          <li><a class="btn" href="{{path('fos_user_security_login')}}">Ingresar</a><hr></li>
        </ul>
      </div>
    <div class="col-md-4"></div>
  </div>
</body>
</html>
