<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{{asset('images/favico.png')}}">
    <title>DAEM TALCA - Plataforma CV</title>
    <!-- Bootstrap Core CSS -->
    <link href="{{asset('css/bootstrap.min.css')}}" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="{{asset('css/shop-item.css')}}" rel="stylesheet">
    {% block csspage %}{% endblock %}

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{path('resume_default_panel')}}">DAEM TALCA</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="#">Sobre DAEM</a>
                    </li>
                    <li>
                        <a href="#">Tu CV Aquí</a>
                    </li>
                    <li>
                        <a href="#">Contactanos</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Content -->
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                {% set PATH = app.request.attributes.get('_route') %}
                {% set profileclass = "" %}
                {% set resumeclass = "" %}
                {% set assignmentclass = "" %}

                {% if PATH == 'resume_profile_show' or PATH == 'resume_profile_edit' or PATH == 'resume_profile_cancel' %}
                    {% set profileclass = "active" %}
                {% endif %}
                {% if PATH == 'resume_resume_index' %}
                    {% set resumeclass = "active" %}
                {% endif %}
                {% if PATH == '' %}
                    {% set assignmentclass = "active" %}
                {% endif %}

                <div class="list-group">
                    <a href="{{path('resume_profile_show')}}" class="list-group-item disable {{profileclass}}">Perfil</a>
                    <a href="{{path('resume_resume_index')}}" class="list-group-item {{resumeclass}}">Mi CV</a>
                    <a href="#" class="list-group-item {{assignmentclass}}">Asignaciones</a>
                    <a href="{{path('fos_user_security_logout')}}" class="list-group-item">
                    <span class="btn btn-danger">Salir</span>
                    </a>
                </div>
            </div>

            <div class="col-md-9">
              <div class="thumbnail">
              {# VALIDATION OF PROFILE FISRT CHANGES#}
              {% if app.user.firstname is empty and PATH == 'resume_default_panelpostulant' %}
                <div class="alert alert-info alert-dismissable">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    Hola {{app.user.username}},<br>Antes de continuar debes completar la información personal de tu Perfil. Esto lo puedes realizar.<br>
                    {% if is_granted('ROLE_TEACHER') or is_granted('ROLE_ASSISTANT') %}
                      Ingresa <a href="{{path('resume_default_firsttime', { 'type': 1})}}" class="alert-link">Aquí</a>
                    {% else %}
                      <ul>
                        <li>Si eres Docente, ingresa <a href="{{path('resume_default_firsttime', { 'type': 1})}}" class="alert-link">Aquí</a>.</li>
                        <li>Si eres Asistente de Educación con Estudios Profesionales, ingresa <a href="{{path('resume_default_firsttime', { 'type': 5})}}" class="alert-link">Aquí</a>.</li>
                        <li>Si eres Asistente de Educación con Estudios Técnico de Nivel Superior, ingresa <a href="{{path('resume_default_firsttime', { 'type': 2})}}" class="alert-link">Aquí</a>.</li>
                        <li>Si eres Asistente de Educación con Estudios Técnico de Nivel Medio, ingresa <a href="{{path('resume_default_firsttime', { 'type': 3})}}" class="alert-link">Aquí</a>.</li>
                        <li>Si eres Asistente de Educación con solo Enseñanza Media Completa, ingresa <a href="{{path('resume_default_firsttime', { 'type': 4})}}" class="alert-link">Aquí</a>.</li>
                      </ul>
                    {% endif %}
                </div>
               {% endif %}

               {% block maincontent %}
               {% endblock %}
               </div>
            </div>

        </div>

    </div>
    <!-- /.container -->

    <hr>
    <!-- Footer -->
    <footer>
      <div class="container">
        <p>DAEM Talca - Platanforma de Gestión de CV - Curriculum Vitae | <b>mobcv</b> &copy; {{ 'now'|date('Y') }}</p>
      </div>
    </footer>

    <!-- jQuery -->
    <script src="{{asset('js/jquery.js')}}"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="{{asset('js/bootstrap.min.js')}}"></script>
    {% block scriptpage %}{% endblock %}
</body>
</html>
