<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{{asset('images/favico.png')}}">
    <title>DAEM TALCA - Plataforma CV</title>
    <!-- Bootstrap Core CSS -->
    <link href="{{asset('css/bootstrap.min.css')}}" rel="stylesheet">
    <!-- Custom CSS -->
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>

    <!-- Page Content -->
    <div class="container">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
              <div class="thumbnail">
               {% block maincontent %}
               {% endblock %}
               </div>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
    <!-- /.container -->
    <hr>
    <!-- Footer -->
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-md-2"></div>
          <div class="col-md-8"><p>DAEM Talca - Platanforma de Gestión de CV - Curriculum Vitae | <b>mobcv</b> &copy; {{ 'now'|date('Y') }}</p></div>
          <div class="col-md-2"></div>
       </div>
      </div>
    </footer>

    <!-- jQuery -->
    <script src="{{asset('js/jquery.js')}}"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="{{asset('js/bootstrap.min.js')}}"></script>
    {% block scriptpage %}{% endblock %}
</body>
</html>
