<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="{{asset('images/favico.png')}}">
    <title>Panel / Dashboard</title>
    <meta name="description" content="Source code generated using layoutit.com">
    <meta name="author" content="LayoutIt!">

    <link href="{{asset('css/bootstrap.min.css')}}" rel="stylesheet">
    <link href="{{asset('css/style.css')}}" rel="stylesheet">
  </head>
  <body>
  {% if menu is not defined %}
    {% set menu = null%}
  {% endif %}
  <div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<div class="row">
				<div class="col-md-3">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h3 class="panel-title">
								Hola {{app.user.username}}
							</h3>
						</div>
						<div class="panel-body">
              {% include "ResumeBundle:Default:panel-menu.html.twig" %}
						</div>
             <div class="panel-footer">
               <a href="{{path('fos_user_security_logout')}}"><span class="label label-danger">Salir
                 <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span></span>
               </a>
             </div>
					</div>
				</div>
				<div class="col-md-9">
				<!-- MAINCONTENT -->
        {% block maincontent %}
              {% if  app.user.firstname is null %}
                <p class="text-danger">Debes acceder a tu perfil para termina la configuración de tu cuenta</p>
                <a href="{{path('resume_profile_edit')}}">Ingresa aquí</a>
              {% endif %}
        {% endblock %}
        <!-- END MAIN CONTENT -->
				</div>
			</div>
		</div>
	</div>
</div>
    <script src="{{asset('js/jquery.min.js')}}"></script>
    <script src="{{asset('js/bootstrap.min.js')}}"></script>
    <script src="{{asset('js/scripts.js')}}"></script>
  </body>
</html>
